/* .main_table {
    
} */
button {
    width: 200px;
}
img.avatar {
    width: 150px;
    height: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px auto 150px;
    /* gap: 10px;
    background-color: #2196F3; */
    padding: 10px;
  }
  
  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    /* font-size: 30px; */
  }
  .hide{
    display: none;
  }
  .pointerbtn {
    cursor:pointer;
  }